html * {
	box-sizing: border-box;
}

html {
	  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	    sans-serif;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#pokedex,
.app {
	width: 100vw;
	height: 100%;
	padding: 0;
	margin: 0;
}

.app {
	text-align: center;
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

main {
	width: 100%;
	max-width: 520px;
}

footer {
	background: #f7f7f7;
	width: 100%;
	font-size: 14px;
	color: #a1a1a1;
}

h1 {
	margin-bottom: 10px;
}

h3 {
	margin-top: 0;
}

h4 {
	font-size: 20px;
	margin: 0 0 25px 0;
}

form {
	padding: 15px;
	border: 1px solid lightgray;
}

input[type="text"] {
	height: 36px;
	min-width: 220px;
	padding: 9px;
}

button {
	padding: 9px 20px;
	height: 36px;
	margin-top: 15px;
	min-width: 300px;
	cursor: pointer;
}

.input {
	width: 100%;
}

.output {
	margin-top: 15px;
	width: 100%;
	height: 400px;
	border: 1px solid lightgray;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
}

.error {
	color: red;
	white-space: pre-wrap;
}

.output.center {
	justify-content: center;
}

.pokemon {
	width: 48%;
	height: 100%;
	border: 1px solid black;
	padding: 15px;
}

.winner {
	border-color: green;
	box-shadow: 0 0 10px 0 green;
}

img {
	padding-top: 15px;
	width: 96px;
	height: 96px;
}

table {
	width: 100%;
}

td:first-child {
	text-align: left;
}

td:last-child {
	text-align: right;
}

.attack {
	color: red;
}
